# Configurações do banco de dados PostgreSQL
DB_HOST=localhost
DB_PORT=5433
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres

# Porta do servidor Express
PORT=3000

# URL base para requisições externas (httpService)
API_BASE_URL=http://localhost:3000

#Configurações BOT
#BOT_NUMERO_ADMIN=5514998185825
BOT_NUMERO_ADMIN=5514998089672
